/* eocjsNewsticker */

.eocjs-newsticker {
  padding: 10px 0;
  background-color: #eee;
}

.eocjs-newsticker .eocjs-newsticker-container {
  position: relative;
  height: 20px;
  overflow: hidden;
}

.eocjs-newsticker .eocjs-newsticker-one,
.eocjs-newsticker .eocjs-newsticker-two {
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
}

.eocjs-newsticker-loader {
  position: absolute;
  left: calc(50% - 10px);
  width: 16px;
  height: 16px;
  display: block;
  border: 2px solid #555555;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: eocjs-newsticker-spin 1s linear infinite;
}

@keyframes eocjs-newsticker-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
